.banner {
  background-size: cover;
  background-position: center;
  padding: 120px 0;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 22px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: 10px;
}

.btn-flat {
  color: grey;
  background: white;
  border-radius: 25px;
  padding: 10px 20px;
  margin
}

.container {
  margin: 10px;
}

.banner-infos {
  line-height: 50px;
}
